//Fonts
$font_regular: 400 1em 'Open Sans', Arial, sans-serif;
$font_bold: 700 1em 'Open Sans', Arial, sans-serif;
$font_headings: 400 1.5em 'Nunito', Arial, sans-serif;

//Colours
$green_dark: #2f4936;
$green_light: #679671;
$green_lighter: #9ed6a3;

$primary: #5c6b63;
$primary_light_10: #eff0ef;
$primary_light_25: #d6dad8;
$primary_light_50: #aeb5b1;
$primary_light_75: #85908a;
$primary_light_90: #6c7a73;

$primary_dark_10: #090b0a;
$primary_dark_25: #171b19;
$primary_dark_50: #2e3632;
$primary_dark_75: #45504a;
$primary_dark_90: #536059;

$secondary: #663877;
$secondary_light_10: #f0ebf1;
$secondary_light_25: #d9cddd;
$secondary_light_50: #b39cbb;
$secondary_light_75: #8c6a99;
$secondary_light_90: #754c85;

$secondary_dark_10: #0a060c;
$secondary_dark_25: #1a0e1e;
$secondary_dark_50: #331c3c;
$secondary_dark_75: #4d2a59;
$secondary_dark_90: #5c326b;

$neutral: #171b19;
$neutral_light_10: #e8e8e8;
$neutral_light_25: #c5c6c6;
$neutral_light_50: #8b8d8c;
$neutral_light_75: #515453;
$neutral_light_90: #2e3230;

$neutral_dark_10: #020303;
$neutral_dark_25: #060706;
$neutral_dark_50: #0c0e0d;
$neutral_dark_75: #111413;
$neutral_dark_90: #151817;

//Extends
%pos-cover {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

//Mixins
@mixin sketchy-border($colour) {
	border: solid $colour;
	border-color: $colour;
	border-width: 3px 4px 3px 5px;
	border-radius: 95% 4% 92% 5%/4% 95% 6% 95%;
	transform: rotate(1deg);
}

@mixin sketchy-border2($colour) {
	border: solid $colour;
	border-color: $colour;
	border-width: 3px 3px 5px 5px;
	border-radius: 4% 190% 6% 95%/95% 4% 92% 5%;
	transform: rotate(-1deg);
}

@mixin sketchy-border3($colour) {
	border: solid $colour;
	border-color: $colour;
	border-width: 5px 3px 3px 5px;
	border-radius: 95% 15% 97% 5%/4% 94% 3% 95%;
	transform: rotate(2deg);
}
