//Fonts
$font_regular: 400 1em 'Open Sans', Arial, sans-serif;
$font_bold: 700 1em 'Open Sans', Arial, sans-serif;
$font_headings: 400 1.5em 'Nunito', Arial, sans-serif;

//Colours
$green_dark: #2f4936;
$green_light: #679671;
$green_lighter: #9ed6a3;

$primary: #496f57;
$primary_light_10: #edf1ee;
$primary_light_25: #d2dbd5;
$primary_light_50: #a4b7ab;
$primary_light_75: #779381;
$primary_light_90: #5b7d68;

$primary_dark_10: #070b09;
$primary_dark_25: #121c16;
$primary_dark_50: #25382c;
$primary_dark_75: #375341;
$primary_dark_90: #42644e;

$secondary: #4a19b4;
$secondary_light_10: #ede8f8;
$secondary_light_25: #d2c6ec;
$secondary_light_50: #a58cda;
$secondary_light_75: #7753c7;
$secondary_light_90: #5c30bc;

$secondary_dark_10: #070312;
$secondary_dark_25: #13062d;
$secondary_dark_50: #250d5a;
$secondary_dark_75: #381387;
$secondary_dark_90: #4317a2;

$neutral: #1f251e;
$neutral_light_10: #e9e9e9;
$neutral_light_25: #c7c9c7;
$neutral_light_50: #8f928f;
$neutral_light_75: #575c56;
$neutral_light_90: #353b34;

$neutral_dark_10: #030403;
$neutral_dark_25: #080908;
$neutral_dark_50: #10130f;
$neutral_dark_75: #171c17;
$neutral_dark_90: #1c211b;

//Extends
%pos-cover {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

//Mixins
@mixin sketchy-border($colour) {
	border: solid $colour;
	border-color: $colour;
	border-width: 3px 4px 3px 5px;
	border-radius: 95% 4% 92% 5%/4% 95% 6% 95%;
	transform: rotate(1deg);
}

@mixin sketchy-border2($colour) {
	border: solid $colour;
	border-color: $colour;
	border-width: 3px 3px 5px 5px;
	border-radius: 4% 190% 6% 95%/95% 4% 92% 5%;
	transform: rotate(-1deg);
}

@mixin sketchy-border3($colour) {
	border: solid $colour;
	border-color: $colour;
	border-width: 5px 3px 3px 5px;
	border-radius: 95% 15% 97% 5%/4% 94% 3% 95%;
	transform: rotate(2deg);
}
