//Fonts
$font_regular: 400 1em Arial, sans-serif;
$font_bold: 700 1em Arial, sans-serif;
$font_headings: 700 1.5em Arial, sans-serif;

//Colours
$primary: #414b43;
$primary_light_10: #ecedec;
$primary_light_25: #d0d2d0;
$primary_light_50: #a0a5a1;
$primary_light_75: #717872;
$primary_light_90: #545d56;

$primary_dark_10: #070807;
$primary_dark_25: #101311;
$primary_dark_50: #212622;
$primary_dark_75: #313832;
$primary_dark_90: #3b443c;

$secondary: #a0bbaa;
$secondary_light_10: #f6f8f7;
$secondary_light_25: #e7eeea;
$secondary_light_50: #d0ddd5;
$secondary_light_75: #b8ccbf;
$secondary_light_90: #aac2b3;

$secondary_dark_10: #101311;
$secondary_dark_25: #282f2b;
$secondary_dark_50: #505e55;
$secondary_dark_75: #788c80;
$secondary_dark_90: #90a899;

$neutral: #58595c;
$neutral_light_10: #eeeeef;
$neutral_light_25: #d5d6d6;
$neutral_light_50: #acacae;
$neutral_light_75: #828385;
$neutral_light_90: #696a6c;

$neutral_dark_10: #090909;
$neutral_dark_25: #161617;
$neutral_dark_50: #2c2d2e;
$neutral_dark_75: #424345;
$neutral_dark_90: #4f5053;